* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #222;
}
main {
  display: grid;
  grid-gap: max(1vmin, 10px);
  place-items: center;
}
section {
  display: grid;
  grid-gap: max(1vmin, 10px);
  place-items: center;
}
h1 {
  font-size: max(10vmin, 32px);
  font-weight: 500;
}
h2 {
  font-size: max(5vmin, 16px);
  font-weight: normal;
}
i {
  font-size: max(5vmin, 16px);
}
.header {
  grid-gap: calc(max(1vmin, 10px) / 2);
}
.links {
  margin-top: max(1vmin, 10px);
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}
.earth {
  width: max(120vh, 120vw);
  height: 40vh;
  background: #eee;
  background: linear-gradient(#eee, #fff, #fff, #fff);
  position: absolute;
  bottom: -20vh;
  border-radius: 100%;
}
a {
  color: #1778f2;
}
a:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}
